.image-wrapper {
    position: relative;
    height: 350px;
    overflow: hidden;
}

.image-wrapper img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}